<template>
	
  <div class="ui container">
	  <div class="ui center aligned segment">
		  <h3>Edit Project</h3>
	  </div>
	  <form class="ui form">
		  <div class="field">
			<label>Title</label>
			<input v-model="title" type="text" placeholder="Title">
		  </div>
		  <div class="field">
			<label>Discription</label>
			<textarea v-model="discription" ></textarea>
		  </div>
		  <div class="ui buttons">
			  <button class="ui button active">Save</button>
			  <div class="or"></div>
			  <button class="ui positive button">Save & Close</button>
			</div>
		  
	 </form>
  </div>
</template>
<script>
	
export default {
  data () {
    return {
	  title:'Content header 1',
	  discription:'Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula',
    }
  },
 
  methods: {
    
  },
}


</script>
