<template>
	
  <div class="ui container">
	<div class="ui internally celled grid">
	  <div class="row">
		<div class="twelve wide column">
		    <div class="ui container">
				<div class="ui relaxed divided items">
				  <div class="item" v-for="content in contents">
					<div class="ui small image">
					  <img src="images/wireframe/{{ content.image }}">
					</div>
					<div class="content">
					 <div class="header"> <a class="">{{ content.header }} | </a><span>{{ content.meta.category }}</span></div>
					  <div class="meta">
						  <img src="images/wireframe/{{ content.usermeta.image }}" class="ui circular avatar image"> {{ content.usermeta.name }}
						  
					  </div>
					  <div class="description">
						 {{ content.description }}
					  </div>
					  <div class="extra">
						  
						  <div class="ui button">
							<i class="heart icon"></i> {{ content.meta.date }}
						  </div>
						
						<div class="ui left labeled button" tabindex="0">
						  <a class="ui basic right pointing label">
							2,048
						  </a>
						  <div class="ui button">
							<i class="heart icon"></i> Like
						  </div>
						</div>
						
						   <div class="ui right floated primary button">
							Read More
						  <i class="right chevron icon"></i>
						  </div>
						
					  </div>
					</div>
				  </div>
				</div>
			</div>
		</div>
		<div class="four wide column">
		  <side-bar></side-bar>
		</div>
	  </div>
    </div>
  </div>
  <div class="ui six column centered grid">
         <div class="column">
           <button :class="{'loading':loading}" @click.prevent="loadmore()" class="ui primary button">Load More</button>
        </div>
     </div>
</template>
<script>
import  {_}  from 'underscore'
export default {
  data () {
    return {
	  loading: false ,
      contents:[
        {
		  header : 'content header 1',
		  image : 'image.png',	
		  meta  : {date:'12-12-2016',category:'Category 1'} ,
		  description : 'The song "Above the Clouds" by Reinhard Mey probably knows almost everyone in Germany. I met this song during the music lessons in fifth grade. It is very good that problems that you have, or difficulties encountered, viewed from another perspective, become less important. I will now again showing how my year - because it is now almost over - has changed here in Tanzania my view on some things.',
		  usermeta : {name:'Username',image:'square-image.png'}	
		},
		{
		  header : 'content header 2',
		  image : 'image.png',	
		  meta  : {date:'12-12-2016',category:'Category 1'} ,
		  description : 'The song "Above the Clouds" by Reinhard Mey probably knows almost everyone in Germany. I met this song during the music lessons in fifth grade. It is very good that problems that you have, or difficulties encountered, viewed from another perspective, become less important. I will now again showing how my year - because it is now almost over - has changed here in Tanzania my view on some things.',
		  usermeta : {name:'Username',image:'square-image.png'}	
		},
		{
		  header : 'content header 3',
		  image : 'image.png',	
		  meta  : {date:'12-12-2016',category:'Category 1'} ,
		  description : 'The song "Above the Clouds" by Reinhard Mey probably knows almost everyone in Germany. I met this song during the music lessons in fifth grade. It is very good that problems that you have, or difficulties encountered, viewed from another perspective, become less important. I will now again showing how my year - because it is now almost over - has changed here in Tanzania my view on some things.',
		  usermeta : {name:'Username',image:'square-image.png'}	
		}
		
      ],
      returnedcontent:[
        {
		  header : 'content header 1',
		  image : 'image.png',	
		  meta  : {date:'12-12-2016',category:'Category 1'} ,
		  description : ' A description which may flow for several lines and give context to the content.',
		  usermeta : {name:'Username',image:'square-image.png'}	
		},
		{
		  header : 'content header 2',
		  image : 'image.png',	
		  meta  : {date:'12-12-2016',category:'Category 1'} ,
		  description : ' A description which may flow for several lines and give context to the content.',
		  usermeta : {name:'Username',image:'square-image.png'}	
		},
		{
		  header : 'content header 3',
		  image : 'image.png',	
		  meta  : {date:'12-12-2016',category:'Category 1'} ,
		  description : ' A description which may flow for several lines and give context to the content.',
		  usermeta : {name:'Username',image:'square-image.png'}	
		}
		
      ],
    }
  },
   ready:function(){
	//$('.ui.dropdown').dropdown();
	
   
  },
  components: {
    'side-bar': require('../partials/sidebar.vue')
    
  },
  methods: {
    loadmore(){
		this.loading=true
		var self = this 
		_.each(this.returnedcontent, function(val, key ,obj){
			self.contents.push(val)
		});
		
		
	}
  },
}


</script>
