<template>
	<div class="ui container">
		
	<div class="ui internally celled grid">
	  <div class="row">
		<div class="twelve wide column">
			<div class="ui container">
			
				 <div class="item">
					 <div class="row">
						
						<div class="wide column">
							 <div class="ui right floated buttons big">
							   <div class="ui labeled button" tabindex="0">
								  <div class="ui red button">
									<i class="heart icon"></i> Like
								  </div>
								  <a class="ui basic red left pointing label">
									1,048
								  </a>
								</div>
								<div class="ui labeled button" tabindex="0">
								  <div class="ui basic blue button">
									<i class="fork icon"></i> Forks
								  </div>
								  <a class="ui basic left pointing blue label">
									1,048
								  </a>
								</div>
								
							</div>
						</div>
					 </div>
				     <div class="row">
						 <h3 class="ui top attached header">
						  Top Attached
						</h3>
						<div class="ui attached segment">
								
							  <img class="ui centered medium image"  src="images/wireframe/image.png">
						
								 <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
								 Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.
								 Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.
								 Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
								 <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.
								 Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.
								 Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
					   </div>
			     </div>
			   </div>
		   </div>
		   <h4 class="ui horizontal divider header">
			  <i class="tag icon"></i>
			 Comments
			</h4>
		   <comments></comments>
		</div>
		<div class="four wide column">
		  <side-bar></side-bar>
		</div>
	  </div>
    </div>
  </div>
  
</template>
<script>
	
export default {
  data () {
    return {
	  
    }
  },
 components: {
    'side-bar': require('../partials/sidebar.vue'),
    'comments': require('./comments.vue')
  },
  methods: {
    
  },
}


</script>
