<style>


.mobile.row{
	padding-top: 0px !important;
	margin-top: 0px !important;
}

.mobile.row .ui.inverted.menu{
	border-radius: 0px !important;
}

.padding-reset{
	padding: 0px !important;
}

.ui.message{
	padding: 40px !important;
}

@media (max-width: 767px) {
  	.ui.grid.main{
  		margin-top: 70px;
	}

        .ui.grid { margin: 0 !important; }
	.ui.vertical.menu.navbar{
		margin-top: 0px !important;
	}
}

.ui.vertical.menu{
	margin-top: -15px !important;
	width: 100%;
	display: none;
}
</style>
<template>
   <div class="ui grid" v-if="!  auth.invalid">
  <div class="computer tablet only row">
   
    <div class="ui  top fixed menu">
      <a href="" class="brand item"><img src="/images/logo.png"></a>
      <a class="ui icon blue basic button item" v-link="{ path: '/' }">
		  <i class="home icon"></i>
	  </a>
      <a v-link="{ path: '/projects' }" class="item">Projects</a>
      <div class="ui  dropdown item">
		About Us
		<i class="dropdown icon"></i>
		<div class="menu">
		  <div class="item">Applications</div>
		  <div class="item">International Students</div>
		  <div class="item">Scholarships</div>
		</div>
	  </div>
	  
	   <div class="ui  dropdown item">
		Blog
		<i class="dropdown icon"></i>
		<div class="menu">
		  <div class="item">Applications</div>
		  <div class="item">International Students</div>
		  <div class="item">Scholarships</div>
		</div>
	  </div>
	  
	  <div class="ui  dropdown item">
		Volutter
		<i class="dropdown icon"></i>
		<div class="menu">
		  <div class="item">Applications</div>
		  <div class="item">International Students</div>
		  <div class="item">Scholarships</div>
		</div>
	  </div>
	  
	   <div class="ui  dropdown item">
		Network
		<i class="dropdown icon"></i>
		<div class="menu">
		  <div class="item">Applications</div>
		  <div class="item">International Students</div>
		  <div class="item">Scholarships</div>
		</div>
	  </div>
	  
	  <div class="ui  dropdown item">
		Support
		<i class="dropdown icon"></i>
		<div class="menu">
		  <div class="item">Applications</div>
		  <div class="item">International Students</div>
		  <div class="item">Scholarships</div>
		</div>
	  </div>
	  
	  <div class="ui  dropdown item">
		Contact
		<i class="dropdown icon"></i>
		<div class="menu">
		  <div class="item">Applications</div>
		  <div class="item">International Students</div>
		  <div class="item">Scholarships</div>
		</div>
	  </div>
      <a href="" class="item">Contact</a>
      
      <div class="right menu">
		<div class="item">
		<search-input></search-input>
	  </div>
		<a class="item" v-link="{ path: '/auth/login' }" v-if="auth.invalid">Login</a>
		<a class="item" v-link="{ path: '/auth/logout' }" v-if="! auth.invalid">Logout</a>
	  </div>
    </div>
   
  </div>
  <div class="mobile only row">
	
      <div class="ui fixed inverted navbar menu">
          <a href="" class="brand item"><img src="/images/logo.png"></a>
          <div class="right menu open">
              <a href="" class="menu item">
                  <i class="content icon"></i>
              </a>
          </div>
      </div>
      <div class="ui vertical navbar menu">
          <a v-link="{ path: '/projects' }" class="item">Projects</a>
          <div class="ui  dropdown item">
		About Us
		<i class="dropdown icon"></i>
		<div class="menu">
		  <div class="item">Applications</div>
		  <div class="item">International Students</div>
		  <div class="item">Scholarships</div>
		</div>
	  </div>
	  
	   <div class="ui  dropdown item">
		Blog
		<i class="dropdown icon"></i>
		<div class="menu">
		  <div class="item">Applications</div>
		  <div class="item">International Students</div>
		  <div class="item">Scholarships</div>
		</div>
	  </div>
	  
	  <div class="ui  dropdown item">
		Volutter
		<i class="dropdown icon"></i>
		<div class="menu">
		  <div class="item">Applications</div>
		  <div class="item">International Students</div>
		  <div class="item">Scholarships</div>
		</div>
	  </div>
	  
	   <div class="ui  dropdown item">
		Network
		<i class="dropdown icon"></i>
		<div class="menu">
		  <div class="item">Applications</div>
		  <div class="item">International Students</div>
		  <div class="item">Scholarships</div>
		</div>
	  </div>
	  
	  <div class="ui  dropdown item">
		Support
		<i class="dropdown icon"></i>
		<div class="menu">
		  <div class="item">Applications</div>
		  <div class="item">International Students</div>
		  <div class="item">Scholarships</div>
		</div>
	  </div>
	  
	  <div class="ui  dropdown item">
		Contact
		<i class="dropdown icon"></i>
		<div class="menu">
		  <div class="item">Applications</div>
		  <div class="item">International Students</div>
		  <div class="item">Scholarships</div>
		</div>
	  </div>
          <div class="menu">
                <div class="item">
				  <search-input></search-input>
			    </div>
				<a class="item" v-link="{ path: '/auth/login' }" v-if="auth.invalid">Login</a>
				<a class="item" v-link="{ path: '/auth/logout' }" v-if="! auth.invalid">Logout</a>
          </div>
      </div>
     
  </div>
</div>

  
 </template>
<script>

export default {
 vuex: {
    getters:{
      auth: state => state.auth
    },
 },
 data () {
    return {
      menu: {
        title: 'Intranet',
        links: [
          {
            title: 'Home',
            url:'/',
            active: true
          },
          
        ]
      }
    }
  },
 ready:function(){
	 // $('.ui.dropdown').dropdown();
	 $('.right.menu.open').on("click",function(e){
    e.preventDefault();
    $('.ui.vertical.menu').toggle();
  });
    
  $('.ui.dropdown').dropdown();

  },
  components: {
    'search-input': require('./search-input.vue')
  },
  computed:{
	  
	 
	 
  },
}
</script>
