<template>
	
	<div class="ui grid">
  <div class="row">
    <div class="twelve wide  column">
    
				<div class="ui relaxed divided items">
					<div class="item" v-for="content in contents">
					<div class="ui small image">
					  <img src="images/wireframe/image.png">
					</div>
					<div class="content">
					 <div class="header"> <a v-link="{  name: 'singleproject' , params: { id: content[0]  }}"  class="">{{ content[1] }} | </a><span>category</span></div>
					  <div class="meta">
						  <img src="images/wireframe/square-image.png" class="ui circular avatar image"> 
						  
					  </div>
					  <div class="description">
						 {{ content[2] | truncate '300'}}
					  </div>
					  <div class="extra">
						  
						  <div class="ui button">
							<i class="heart icon"></i> date
						  </div>
						
						<div class="ui left labeled button" tabindex="0">
						  <a class="ui basic right pointing label">
							2,048
						  </a>
						  <div class="ui button">
							<i class="heart icon"></i> Like
						  </div>
						</div>
						   
						   <button class="fluid large-hide tablet-hide ui button">Fits container</button>
						
							<a v-link="{ name: 'singleproject' , params: { id: content[0]  }}" class="ui right mobile-hide floated primary button">
								Read More
							  <i class="right chevron icon"></i>
						    </a>
						
					  </div>
					</div>
				  </div>
				
				  </div>
			
    </div>
     <div class="computer only four wide column">
          <side-bar>
		      <button v-link="{ path: 'projects/new'}" class="ui button fluid medium teal ">New Project</button>
		  </side-bar>
     </div>
  </div>
  
</div>
     
</template>
<script>

import { clearsearch } from '../../vuex/actions/search'
export default {
	data() {
    return {
     contents:this.search.search,
    }
  },
	 vuex:{
		getters:{
			
			search: state => state.search
		},
		actions: {
			clearsearch
		}
	},
	route:{
		activate (transition) {
			! this.auth.token ? transition.redirect('/login') : transition.next()
		}
	},
  created: function() {
	  
    
  },
  beforeDestroy: function() {
    this.clearsearch()
  },
  ready: function() {
    
  },
  components: {
    'side-bar': require('./sidebar.vue')
    
  },
  methods:{
	
    
  }
}


</script>

