<template>
	
	<div class="ui action left icon input">
      <i class="search icon"></i>
      <input type="text" v-model="q"   placeholder="Search...">
      <div @click.prevent="getresults()" class="ui teal button">Search</div>
    </div>
     
</template>
<script>
import api from '../../api/search'
import { clearsearch } from '../../vuex/actions/search'
import { addsearch } from '../../vuex/actions/search'
export default {
	data() {
    return {
      q: '',
    }
  },
	 vuex:{
		getters:{
			
			search: state => state.search
		},
		actions: {
			clearsearch,
			addsearch
		}
	},
	route:{
		activate (transition) {
			! this.auth.token ? transition.redirect('/login') : transition.next()
		}
	},
  created: function() {
	  
    this.clearsearch()
  },
  beforeDestroy: function() {
    this.clearsearch()
  },
  ready: function() {
    
  },
  methods:{
	getresults: function() {
	console.log('getresults')
    var self =this
     api.search().then(function(response) {
		 self.addsearch(response.data)
		// Send Request
		// self.contents = response.data.data
		 console.log(response)
		
	  }, function (error) {
		 console.log(error)
	  });
    }
    
  }
}


</script>
