<template>
	<div class="ui container">
		<slot></slot>
				 <div class="ui card">
					  <div class="content">
						<div class="header">Project Timeline</div>
					  </div>
					  <div class="content">
						<h4 class="ui sub header">Activity</h4>
						<div class="ui small feed">
						  <div class="event">
							<div class="content">
							  <div class="summary">
								 <a>Elliot Fu</a> added <a>Jenny Hess</a> to the project
							  </div>
							</div>
						  </div>
						  <div class="event">
							<div class="content">
							  <div class="summary">
								 <a>Stevie Feliciano</a> was added as an <a>Administrator</a>
							  </div>
							</div>
						  </div>
						  <div class="event">
							<div class="content">
							  <div class="summary">
								 <a>Helen Troy</a> added two pictures
							  </div>
							</div>
						  </div>
						</div>
					  </div>
					  <div class="extra content">
						<button class="ui button">Join Project</button>
					  </div>
					</div>
			     <div class="ui card">
		  <div class="content">
			  <div class="header">Veronika Ossi</div>
			<div class="right floated meta">14h</div>
			
		  </div>
		  <div class="image">
			<img src="/images/wireframe/image.png">
		  </div>
		  <div class="content">
			<div class="description">For student / inside the magisterium or teaching staff to 28 years. From December 2016 to September 2017</div>
		  </div>
		  <div class="extra content">
			<div class="ui large transparent left icon input">
			  <i class="heart outline icon"></i>
			  <input type="text" placeholder="Add Comment...">
			</div>
		  </div>
		</div>
			</div>
		
</template>
<script>

export default {
  data () {
    return {
	 
    }
  },
   ready:function(){
	
   
  },
  components: {
    'search-input': require('../partials/search-input.vue')
  },
  methods: {
    
  },
}


</script>

