<template>
	<div class="ui container">
	<div class="ui internally celled grid">
	  <div class="row">
		<div class="twelve wide column">
		    <div class="ui container">
				<div class="ui relaxed divided items">
				  <div class="item" v-for="content in contents">
					<div class="ui small image">
					  <img src="images/wireframe/image.png">
					</div>
					<div class="content">
					 <div class="header"> <a class="">{{ content.title }} | </a><span>category</span></div>
					  <div class="meta">
						  <img src="images/wireframe/square-image.png" class="ui circular avatar image"> 
						  
					  </div>
					  <div class="description">
						 {{ content.description | truncate '300'}}
					  </div>
					  <div class="extra">
						  
						  <div class="ui button">
							<i class="heart icon"></i> date
						  </div>
						
						<div class="ui left labeled button" tabindex="0">
						  <a class="ui basic right pointing label">
							2,048
						  </a>
						  <div class="ui button">
							<i class="heart icon"></i> Like
						  </div>
						</div>
						
						   <div class="ui right floated primary button">
							Read More
						  <i class="right chevron icon"></i>
						  </div>
						
					  </div>
					</div>
				  </div>
				</div>
			</div>
		</div>
		<div class="four wide column">
		  <side-bar></side-bar>
		</div>
	  </div>
    </div>
  </div>
  
</template>
<script>
import  {_}  from 'underscore'
import api from '../../api/home'

export default {
  vuex:{
		getters:{
			auth: state => state.auth
		},
		actions: {
			
		}
	},
  route:{
		activate (transition) {
			! this.auth.token ? transition.redirect('/login') : transition.next()
		}
  },
  data () {
    return {
	  loading: false ,
      contents:[ ],
      
    }
  },
   ready:function(){
	
  },
  components: {
    'side-bar': require('../partials/sidebar.vue')
    
  },
  created: function() {
	  var self =this
     api.getAll().then(function(response) {
		
		 self.contents = response.data.data
		
		
	  }, function (error) {
		 console.log(error)
	  });
	  
    console.log('index')
    
  },
   filters: {
  
    truncate: function(string, value) {
        return string.substring(0, value) + '...';
    }
  },
  methods: {
   
  },
}
</script>
