<template>
	<div class="sixteen wide column">
		<h2 class="ui center aligned icon header">
			<i class="circular wizard icon"></i>
			Update on its way!
		</h2>
		<div class="ui container center aligned">
			Das Intranet wird gerade grundlegend überarbeitet. <br />
			Bitte nutze in der Zwischenzeit das alte Intranet! <br />
			<br />
			<button class="ui green basic button" @click="joomla()">Zum alten Intranet</button>
		</div>
	</div>
</template>
<script>
import { joomla } from '../../vuex/actions/auth'
export default {
	vuex:{
		getters:{
			auth: state => state.auth
		},
		actions: {
			joomla
		}
	},
	route:{
		activate (transition) {
			! this.auth.token ? transition.redirect('/login') : transition.next()
		}
	},
}
</script>
