<template>
  <div class="ui container grid center aligned">
    <div class="eight wide column">
      <h2 class="ui header">
        <div class="content" v-if="! invalid">
          Your are being logged in ...
        </div>
      </h2>
      <div class="ui red message" v-if="invalid">
        <p>Sorry, this token is invalid or expired.<br />
          <a href="#" v-link="{ path: '/login' }">Request a new one</a></p>
      </div>
    </div>
  </div>
</template>

<script>
import { authenticate } from '../../vuex/actions/auth'
export default {
  created: function() {
    this.authenticate(this.$route.params.token, '/')
   // this.authenticate('b5k35jkPv5oUXP8nInlkcao1pTa0XqKV5hJ9ovrLFJrppjpPOp', '/')
  },
  ready: function() {
	  console.log(this.$route.params.token)
	  console.log('authenticate')
  },
  vuex: {
    getters: {
      invalid: state => state.auth.invalid,
    },
    actions: {
      authenticate
    }
  },

}
</script>
