<template>
  <div class="ui container grid center aligned">
    <div class="eight wide column">
      <h2 class="ui header">
        <div class="content">
          Log-in to your account
        </div>
      </h2>
      <div class="ui green message" v-if="success">
        <p>Great, please click on the link we've just emailed and you are ready to go!</p>
      </div>
      <div class="ui red message" v-if="errors">
        <p v-for="error in errors">
          {{ error }}
        </p>
      </div>
      <form class="ui large form">
        <div class="ui segment">
          <div class="field">
            <div class="ui left icon input">
              <i class="mail icon"></i>
              <input type="text" placeholder="Your e-mail goes here" v-model="email" @keyup.enter.prevent="login(email)">
            </div>
          </div>
          <div class="ui fluid large submit button" @click="login(email)">Email me a link to sign in</div>

            <div class="ui fluid large submit button" @click="callbackTest(email)">Callback</div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import { login } from '../../vuex/actions/auth'
export default {
  data() {
    return {
      email: '',
    }
  },
  vuex: {
    getters: {
      auth: state => state.auth,
      errors: state => state.messages.error,
      success: state => state.messages.success
    },
    actions: {
      login
    }
  },
  methods: {
    callbackTest(email) {
          var d = this
      this.login(email, (message) => {
        // this is the callback
        this.email = message


    })
    }
  },
  route:{
    activate (transition) {
      this.auth.token ? transition.redirect('/') : transition.next()
    }
  },
}
</script>
