<template>

  <div class="ui container grid center aligned">

    <div class="eight wide column">
      <h2 class="ui header">
        <div class="content">
          Logout
        </div>
      </h2>
      <div class="ui blue message">
        <p>
          If this is your personal device, it's just fine to <a href="javascript:window.close();">close the window</a>.
        </p>
      </div>
      <div class="ui segment">
        <div class="ui fluid large submit button" @click="logout()">I really want to logout though</div>
      </div>
    </div>
  </div>
</template>

<script>
import { logout } from '../../vuex/actions/auth'
export default {
  vuex:{
    getters:{
      auth: state => state.auth
    },
    actions: {
      logout
    }
  },
  route:{
    activate (transition) {
      ! this.auth.token ? transition.redirect('/login') : transition.next()
    }
  },
}
</script>
