<template>
  <div class="ui container grid center aligned">
    <div class="eight wide column">
      <h2 class="ui header">
        <div class="content">
          Request an account
        </div>
      </h2>
      <form class="ui large form">
        <div class="ui segment">
          <div class="field">
            <div class="ui left icon input">
              <i class="user icon"></i>
              <input type="text" name="fullname" placeholder="Full name">
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="mail icon"></i>
              <input type="text" name="email" placeholder="E-mail address">
            </div>
          </div>
          <div class="ui fluid large submit button">Send</div>
        </div>
      </form>
      <div class="ui message">
        Already a user with us? <a v-link="{ path: '/login' }">Login</a>
      </div>
    </div>
  </div>
</template>
