<template>
   <main-header></main-header>
   <div class="ui page grid main">
	  <div class="row" >
      <p></p>
    </div>
    <div class="row" v-if="isLogin" >
      <img style="margin:auto;" src="/images/logo.png" />
    </div>
    <div class="row" v-if="isLogin">
      <p></p>
    </div>
    <div class="row">
      
        <router-view v-if="! isSearch"></router-view>
        <search-results v-if="isSearch"></search-results>
     
    </div>
    <div class="row" style="margin-top: 40px;">
        <div style="margin:auto;">
          Having trouble? Please contact&nbsp;<a href="mailto:intranetupandrunning@dtpev.de" onclick="this.href=this.href.replace(/upandrunning/,'')">our team</a>!
        </div>
    </div>
  </div>
</template>
<script>
import store from '../vuex/store'
export default {
  store,
  vuex: {
    getters:{
      auth: state => state.auth,
      search: state => state.search
    },
 },
 ready:function(){
	  $('.ui.dropdown').dropdown();
	  //$('.ui.labeled.icon.sidebar').sidebar('toggle');

  },
  components: {
    'main-header': require('./partials/header.vue'),
    'search-results': require('./partials/search-results.vue')
  },
  computed:{
	  
	 isLogin:function(){
	   return this.$route.path === '/login'	 
	 },
	 isSearch:function(){
		 
	   if(this.search.search && this.search.search.length > 0 ){
		  return true
		}
	   return false	 
	 },
	 
  },
}
</script>
