<template>
	<div class="ui grid">
      <div class="row">
	     <div class="ui container">
			 <div class="ui center aligned segment">
		  <h3>Edit Project</h3>
	  </div>
	  <form class="ui form">
		  <div class="field">
			<label>Title</label>
			<input v-model="title" type="text" placeholder="Title">
		  </div>
		  <div class="field">
			<label>Discription</label>
			<textarea v-model="description" ></textarea>
		  </div>
		  <div class="ui buttons">
			  <button @click.prevent="editItem()" class="ui button active">Save</button>
			  <div class="or"></div>
			  <button class="ui positive button">Save & Close</button>
			</div>
		  
	 </form>
		  </div>

	   </div>
	  
	</div>
	
	
 
</template>
<script>
import api from '../../api/projects'
export default {
  data () {
    return {
	  title:'',
	  description:''
	  }
  },
   created: function() {
	 var self =this
     api.single(this.$route.params.id).then(function(response) {
		 console.log(response)
		 self.title = response.data.data.title
		 self.description = response.data.data.description
		
	  }, function (error) {
		 console.log(error)
	  });
	  
   
    
  },
  methods: {
   editItem(){
		 console.log('save')
		 var self =this
		 api.edit(this.$route.params.id ,{title:self.title ,description:self.description }).then(function(response) {
			 console.log(response)
			
			
		  }, function (error) {
			 console.log(error)
		  });
		  
	   
		
	}
  },
}


</script>
