<style>
/* Mobile */

@media only screen and (max-width: 767px) {
    .mobile-hide{
        display: none !important;
    }
}

/* Tablet */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .tablet-hide{
        display: none !important;
    }
}

/* Small Monitor */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .small-hide{
        display: none !important;
    }
}


/* Large Monitor */

@media only screen and (min-width: 1200px) {
    .large-hide{
        display: none !important;
    }
}
</style>
<template>
<div class="ui grid">
  <div class="row">
    <div class="twelve wide  column">
    
				<div class="ui relaxed divided items">
				  <div class="item" v-for="content in contents">
					<div class="ui small image">
					  <img src="images/wireframe/image.png">
					</div>
					<div class="content">
					 <div class="header"> <a v-link="{  name: 'singleproject' , params: { id: content.id  }}"  class="">{{ content.title }} | </a><span>category</span></div>
					  <div class="meta">
						  <img src="images/wireframe/square-image.png" class="ui circular avatar image"> 
						  
					  </div>
					  <div class="description">
						 {{ content.description | truncate '300'}}
					  </div>
					  <div class="extra">
						  
						  <div class="ui button">
							<i class="heart icon"></i> date
						  </div>
						
						<div class="ui left labeled button" tabindex="0">
						  <a class="ui basic right pointing label">
							2,048
						  </a>
						  <div class="ui button">
							<i class="heart icon"></i> Like
						  </div>
						</div>
						   
						   <button class="fluid large-hide tablet-hide ui button">Fits container</button>
						
							<a v-link="{ name: 'singleproject' , params: { id: content.id  }}" class="ui right mobile-hide floated primary button">
								Read More
							  <i class="right chevron icon"></i>
						    </a>
						
					  </div>
					</div>
				  </div>
				</div>
			
    </div>
     <div class="computer only four wide column">
          <side-bar>
		      <button v-link="{ path: 'projects/new'}" class="ui button fluid medium teal ">New Project</button>
		  </side-bar>
     </div>
  </div>
  
</div>
</template>
<script>

import  {_}  from 'underscore'
import api from '../../api/projects'
import { clearsearch } from '../../vuex/actions/search'
export default {
  vuex:{
		getters:{
			auth: state => state.auth,
			search: state => state.search
		},
		actions: {
			
		}
	},
	route:{
		activate (transition) {
			! this.auth.token ? transition.redirect('/login') : transition.next()
		}
	},
  data () {
    return {
	  loading: false ,
      contents:[ ],
      
    }
  },
  ready:function(){
	
  },
  components: {
    'side-bar': require('../partials/sidebar.vue')
    
  },
  created: function() {
	  var self =this
     api.getAll().then(function(response) {
		// Send Request
		 self.contents = response.data.data
		 //console.log(response)
		
	  }, function (error) {
		 console.log(error)
	  });
	  
    console.log('projects')
    
  },
   filters: {
  
    truncate: function(string, value) {
        return string.substring(0, value) + '...';
    }
  },
  methods: {
    loadmore(){
		this.loading=true
		var self = this 
		_.each(this.returnedcontent, function(val, key ,obj){
			self.contents.push(val)
		});
		
		
	}
  },
}

</script>


