<template>
	
	<div class="ui grid">
  <div class="row">
    <div class="twelve wide  mobile sixteen wide  column">
    <div class="ui container">
				<a v-link="{  name: 'editproject' , params: { id:id  }}" class="ui right floated button">Edit</a>
			</div>
			<div class="ui container">
			
				 <div class="item">
					<div class="row">
						 <h3 class="ui top attached header">
						  {{ title }}
						</h3>
						<div class="ui attached segment">
							<img class="ui centered medium image"  src="images/wireframe/image.png">
							{{ description }}
						</div>
			     </div>
			   </div>
		   </div>
		   <h4 class="ui horizontal divider header">
			  <i class="tag icon"></i>
			 Comments
			</h4>
		   <comments></comments>
    </div>
     <div class="computer only four wide column">
          <side-bar>
		      <button v-link="{ path: 'projects/new'}" class="ui button fluid medium teal ">New Project</button>
		  </side-bar>
     </div>
  </div>
  
</div>

	
  
</template>
<script>
import api from '../../api/projects'	
export default {
  data () {
    return {
	  title:'',
	  description:'',
	  id:'',
    }
  },
 components: {
    'side-bar': require('../partials/sidebar.vue'),
    'comments': require('../search/comments.vue')
  },
  methods: {
    
  },
  created: function() {
	 var self =this
     api.single(this.$route.params.id).then(function(response) {
		 console.log(response)
		 self.title = response.data.data.title
		 self.description = response.data.data.description
		 self.id = response.data.data.id
		
	  }, function (error) {
		 console.log(error)
	  });
	  
    console.log('projects')
    
  },
}


</script>
